<h1>shops index</h1>

<div class="container">
	<% @shops.each do |shop| %>
		<%= link_to shop_path(shop) do %>
			<%= attachment_image_tag product, :photo, size: "200x200" %>
			<p><%= shop.name %></p>
		<% end %>
	<% end %>

	<%= link_to "New SHOP", new_shop_path(@shop.id) %>
</div>