<div class="container" align="center">
	<div class="top">
		<h3>About</h3>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<h4 class="me">
				Tsutsumi Takuya</br>
				January 16th, 1991</br>
				</br>
				Have experience</br>
				</br>
				Barista</br>
				Photographer</br>
				Waiter</br>
				Hairdresser</br>
			</h4>
		</div>
		<div class="col-xs-6">
			<%= image_tag "me.jpg" , size:"400x600" %>
		</div>
	</div>
</div>