<div class="container" align="center">

	<div class="row">
		<div class="col-xs-7">
			<p class="me">
				Tsutsumi Takuya</br>
				</br>
				1991年生まれ　大学在学中に美容専門学校に通い美容業界へ</br>
				美容業界を退職後に、元々働いていた飲食業界へ足を踏み入れる</br>
				当時面白いと思ったバリスタの仕事で師に出会い、バリスタという業種にのめり込む</br>
				『Free Pour Latteart』の世界に魅了され世界大会にも出場</br>
				</br>
				趣味はカフェを利用する事、写真を撮る事、コーヒーを淹れる事</br>
				現在はSEになる為に日々奮闘中</br>
				</br>
				Going to a Beauty School while attending University and entering the Beauty Industry.</br>
				After retiring from the Beauty Industry, Step into the Restaurant Industry where he used to work.</br>
				During the work of Barista, I met a teacher who I thought was interesting and became a Barista.</br>
				Fascinated by the World of『Free Pour Latteart』and participated in the World Competition.</br>
				</br>
				My Hobbies are using Cafes, Taking Pictures, and Brewing Coffee.</br>
				Currently Struggling to Become an SE Everyday.</br>
			</p>
		</div>
		<div class="col-xs-5">
			<p class="me-2">
				<%= image_tag "me.jpg" , size:"300x450" %>
			</p>
		</div>
	</div>
</div>