<div class="container" align="center">
	<div class="top-photo">
	    <div class="phos"><img class="photo-view" src="assets/cafe-0.jpg"></div>
	    <div class="phos"><img class="photo-view" src="assets/cafe-1.jpg"></div>
	    <div class="phos"><img class="photo-view" src="assets/cafe-2.jpg"></div>
	    <div class="phos"><img class="photo-view" src="assets/cafe-3.jpg"></div>
	    <div class="phos"><img class="photo-view" src="assets/cafe-4.jpg"></div>
	    <div class="phos"><img class="photo-view" src="assets/cafe-5.jpg"></div>
	    <div class="phos"><img class="photo-view" src="assets/cafe-6.jpg"></div>
	    <div class="phos"><img class="photo-view" src="assets/cafe-7.jpg"></div>
	</div>
</div>