<!-- <div class="container" align="center">
	<div class="video-container">
		<iframe width="1398" height="680" src="https://www.youtube.com/embed/UG1uSvhLDUE" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div> -->

<div class="container" align="center">
	<div class="top-photo">
	    <div class="phos"><img class="photo-view" src="assets/cafe-1.jpg"></div>
	    <div class="phos"><img class="photo-view" src="assets/cafe-2.jpg"></div>
	    <div class="phos"><img class="photo-view" src="assets/cafe-3.jpg"></div>
	    <div class="phos"><img class="photo-view" src="assets/cafe-4.jpg"></div>
	    <div class="phos"><img class="photo-view" src="assets/cafe-5.jpg"></div>
	</div>
</div>