// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
    color: #999999;
    background-image: image-url("cafe.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.icon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.icon_index {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.user_index {
    width: 400px;
    th  {
          padding: 15px;
        }
    td  {
          padding: 15px;
        }
}

.all-table {
    color: #999999;
      	th{
        		padding: 8px;
      	}
      	td{
      		padding: 8px;
      	}
}

p {
	 color: #999999;
}

.profile-image {
    opacity: 0.7;
  	font-size: 16px;
    font-weight: 400;
    color: #999999;
  	margin-top: 80px;
}

.set {
	 margin-top: 15px;
}

.bye {
    margin-top: 250px;
    margin-bottom: 125px;
}

.bye-link {
    margin-bottom: 125px;
}