// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon {
	width: 130px;
    height: 130px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.user_index{
  width:400px
  }

  table th{
  padding : 5px 5px;
}

table td{
  padding : 5px 5px;
}

body {
  background-image: image-url("cafe2.jpg");
    background-attachment: fixed;
    background-size: cover;
}